@import url("https://fonts.googleapis.com/css?family=Orbitron%7CQuicksand:500");

body {
    background-image: repeating-linear-gradient(0deg, #313332, #313332 15px, #4a4d4c 15px, #4a4d4c 16px);
    background-color: #313332;
    background-blend-mode: overlay;
    /* overflow: hidden; */
}

.arcade-machine {
    height: 400px;
    width: 400px;
    position: relative;
    margin: 300px auto;
    perspective: 35em;
    transform: scale(2.2);
}

.arcade-machine .top {
    height: 15%;
    width: 70%;
    position: absolute;
    top: 0%;
    left: 15%;
    background: #EDE6E3;
    border: 5px solid #4c4c4c;
    z-index: 3;
}

.arcade-machine .top:before,
.arcade-machine .top:after {
    height: 100%;
    width: 4%;
    position: absolute;
    top: -9%;
    background: #F06449;
    border: 5px solid #4c4c4c;
    content: " ";
}

.arcade-machine .top:before {
    left: -6%;
}

.arcade-machine .top:after {
    right: -6%;
}

.title {
    font-family: "Orbitron", sans-serif;
    font-size: 1.3em;
    color: #313332;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    -webkit-text-stroke: 0.7px #4c4c4c;
}

.arcade-machine>.shadow {
    height: 85%;
    width: 65%;
    position: absolute;
    top: 2%;
    left: 19%;
    background: #EDE6E3;
    box-shadow: 0 0 60px #4b5b61;
    z-index: -1;
}

.arcade-machine .screen-container {
    height: 50%;
    width: 62%;
    position: absolute;
    top: 15%;
    left: 19%;
    background: #EDE6E3;
    border: 5px solid #4c4c4c;
    z-index: 1;
}

.arcade-machine .screen-container:before,
.arcade-machine .screen-container:after {
    height: 100%;
    width: 4%;
    position: absolute;
    top: -2%;
    background: #F06449;
    content: " ";
    border: 5px solid #4c4c4c;
    z-index: 2;
}

.arcade-machine .screen-container:before {
    left: -6%;
}

.arcade-machine .screen-container:after {
    right: -6%;
}

.arcade-machine .screen-container .shadow {
    height: 8%;
    width: 110%;
    position: absolute;
    top: 0%;
    left: -4%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 4;
}

.arcade-machine .screen-container .screen {
    height: 70%;
    width: 75%;
    position: absolute;
    top: 15%;
    left: 11%;
    background: #313332;
    border: 5px solid #4c4c4c;
    border-radius: 90px 93px 93px 93px/15px 15px 15px 15px;
    overflow: hidden;
    text-align: center;
}

.arcade-machine .screen-container .screen-display {
    position: absolute;
    width: 100%;
    height: 200%;
    background-image: repeating-linear-gradient(0deg, #313332, #313332 15px, #4a4d4c 15px, #4a4d4c 16px);
    animation: translate 1s infinite;
}

.arcade-machine .screen-container .screen button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Orbitron", sans-serif;
    font-size: 12px;
    color: #fff;
    background: #F06449;
    border: 5px solid #4c4c4c;
    cursor: pointer;
}

.arcade-machine .screen-container .screen button:hover {
    background: #f06549b7;
    cursor: pointer;
}

.arcade-machine .screen-container .screen button:active {
    background: #f06549b7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transform: translate(-50%, -50%) scale(0.95);
}

.button-play {
    top: 60% !important;
}

.button-play-pvp {
    top: 85% !important;
    white-space: nowrap;
}

.arcade-machine .screen-container .joystick {
    height: 6%;
    width: 4%;
    background: #f06549b7;
    position: absolute;
    top: 91%;
    left: 17%;
    border-radius: 50%;
    border: 5px solid #4c4c4c;
    z-index: 3;
}

.arcade-machine .screen-container .joystick:before {
    height: 90%;
    width: 65%;
    position: absolute;
    top: 7%;
    left: 32%;
    background: #F06449;
    content: "";
    border-radius: 50%;
}

.arcade-machine .screen-container .joystick .stick {
    height: 200%;
    width: 40%;
    position: absolute;
    top: 100%;
    left: 30%;
    background: #4c4c4c;
    content: "";
}

.arcade-machine .board {
    height: 20%;
    width: 66%;
    position: absolute;
    top: 61%;
    left: 18.2%;
    background: #EDE6E3;
    transform: rotateX(70deg);
}

.arcade-machine .board:before,
.arcade-machine .board:after {
    height: 92%;
    width: 4%;
    position: absolute;
    top: -2%;
    background: #F06449;
    content: " ";
    border: 5px solid #4c4c4c;
    z-index: 2;
}

.arcade-machine .board:before {
    left: -6%;
}

.arcade-machine .board:after {
    right: -6%;
}

.arcade-machine .board .button {
    height: 32%;
    width: 14%;
    position: absolute;
    top: 40%;
    left: 30%;
    border-radius: 50%;
    border: 4px solid #4c4c4c;
    background: #F06449;

}

.arcade-machine .board .button:hover {
    background: #ce543c;
}

.arcade-machine .board .button:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transform: translateY(3px);
}

.arcade-machine .board .button-a {
    left: 40%;
}

.arcade-machine .board .button-b {
    left: 55%;
}

.arcade-machine .board .button-c {
    left: 70%;
}

.arcade-machine .bottom {
    height: 10%;
    width: 71%;
    position: absolute;
    top: 76%;
    left: 14.4%;
    background: #EDE6E3;
    border: 5px solid #4c4c4c;
}

.arcade-machine .bottom:before,
.arcade-machine .bottom:after {
    height: 98%;
    width: 4%;
    position: absolute;
    top: -9%;
    background: #F06449;
    content: " ";
    border: 5px solid #4c4c4c;
    z-index: 2;
}

.arcade-machine .bottom:before {
    left: -4.8%;
}

.arcade-machine .bottom:after {
    right: -4.9%;
}

.ship-container {
    position: absolute;
    top: 15%;
    left: 35%;
    height: 30%;
    width: 30%;
    animation: bounce 0.8s infinite;
}

.icon-ship {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #93B6C1;
}

.icon-login {
    position: absolute;
    top: 1px;
    left: 0;
    height: 80%;
    width: 100%;
    color: white;
    transform: perspective(100px) rotateX(45deg);
    cursor: pointer;
}

.icon-signup {
    position: absolute;
    top: 1px;
    left: 0;
    height: 80%;
    width: 100%;
    color: white;
    transform: perspective(100px) rotateX(45deg);
    cursor: pointer;
}

.icon-info {
    position: absolute;
    top: 2px;
    left: 0;
    height: 80%;
    width: 100%;
    color: white;
    transform: perspective(100px) rotateX(45deg);
    cursor: pointer;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes translate {
    from {
        top: 0;
    }

    to {
        top: 10%;
    }
}

.arcade-machine.zoom {
    animation: zoomIn 0.5s forwards;
}

@keyframes zoomIn {
    2% {
        transform: scale(1.1);
    }

    4% {
        transform: scale(1.2);
    }

    6% {
        transform: scale(1.3);
    }

    8% {
        transform: scale(1.4);
    }

    10% {
        transform: scale(1.5);
    }

    12% {
        transform: scale(1.6);
    }

    14% {
        transform: scale(1.7);
    }

    16% {
        transform: scale(1.8);
    }

    18% {
        transform: scale(1.9);
    }

    20% {
        transform: scale(2);
    }

    22% {
        transform: scale(2.1);
    }

    24% {
        transform: scale(2.2);
    }

    26% {
        transform: scale(2.3);
    }

    28% {
        transform: scale(2.4);
    }

    30% {
        transform: scale(2.5);
    }

    32% {
        transform: scale(2.6);
    }

    34% {
        transform: scale(2.7);
    }

    36% {
        transform: scale(2.8);
    }

    38% {
        transform: scale(2.9);
    }

    40% {
        transform: scale(3);
    }

    42% {
        transform: scale(3.2);
    }

    44% {
        transform: scale(3.4);
    }

    46% {
        transform: scale(3.6);
    }

    48% {
        transform: scale(3.8);
    }

    50% {
        transform: scale(4);
    }

    52% {
        transform: scale(4.2);
    }

    54% {
        transform: scale(4.4);
    }

    56% {
        transform: scale(4.6);
    }

    58% {
        transform: scale(4.8);
    }

    60% {
        transform: scale(5);
    }

    62% {
        transform: scale(5.2);
    }

    64% {
        transform: scale(5.4);
    }

    66% {
        transform: scale(5.6);
    }

    68% {
        transform: scale(5.8);
    }

    70% {
        transform: scale(6);
    }

    72% {
        transform: scale(6.2);
    }

    74% {
        transform: scale(6.4);
    }

    76% {
        transform: scale(6.6);
    }

    78% {
        transform: scale(6.8);
    }

    80% {
        transform: scale(7);
    }

    82% {
        transform: scale(7.2);
    }

    84% {
        transform: scale(7.4);
    }

    86% {
        transform: scale(7.6);
    }

    88% {
        transform: scale(7.8);
    }

    90% {
        transform: scale(8);
    }

    92% {
        transform: scale(8.2);
    }

    94% {
        transform: scale(8.4);
    }

    96% {
        transform: scale(8.6);
    }

    98% {
        transform: scale(8.8);
    }

    100% {
        transform: scale(9);
    }

}